#table-admin
{
    position: absolute;


    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -35vh);
    width: 100%; */

    color: white;
    font-size: 1.5rem;


    width: 100%;
    max-width: 100vw;
    margin-top: 130px;
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 50px;

    table-layout: fixed;
}

#table-admin tr
{
    border: 1px solid white;
}

#table-admin tr:hover
{
    background: black;
    color: rgb(69, 173 , 170);
    fill: rgb(69, 173 , 170);
}

#table-admin th
{
    /* position: sticky; */
    background: linear-gradient(transparent, black, transparent);
    color: rgb(69, 173 , 170);
    font-size: 1.2rem;
    word-wrap: break-word;

    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    text-orientation: sideways;
}

#table-admin td
{
    overflow: hidden;
    /* white-space: nowrap; */
    /* padding: 0px 20px; */
    font-size: 1rem;
    
}

#page-wrapper-admin
{
    overflow: hidden;
    width: 100vw;
}

#dashboard p {
    width: 100%;
    text-align: center;

    font-size: 2.5rem;

    margin-top: 5%;
    margin-bottom: 5%;
}







@media only screen and (max-width: 1000px) {
    th.rotate 
    {    
        height: 140px;
        white-space: nowrap;
    }
    
    th.rotate > div {
    transform: rotate(270deg);
    width: 30px;
    }

}