#table-admin
{
    position: absolute;


    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -35vh);
    width: 100%; */

    color: white;
    font-size: 1.5rem;


    left: 0;
    width: 80%;
    margin: 100px 10px 20px 10px;


}

#table-admin tr
{
    border: 1px solid white;
}

#table-admin tr:hover
{
    background: black;
    color: rgb(69, 173 , 170);
    fill: rgb(69, 173 , 170);
}

#table-admin th
{
    position: -webkit-sticky;
    position: sticky;
    background: linear-gradient(transparent, black, transparent);
    color: rgb(69, 173 , 170);
    font-size: 1.2rem;
}

#table-admin td
{
    overflow: hidden;
    /* white-space: nowrap; */
    /* padding: 0px 20px; */
    font-size: 1rem;
}

#page-wrapper-admin
{
    overflow: hidden;
    width: 95vw;
}