#form-search 
{
    border: 2px solid white;
    padding: 20px;

    font-size: 2rem;

    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-top: 50px;

    display: flexbox;
    justify-content: center;
    align-items: center;
}

form 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

form input[type=text] 
{
    background: transparent;
    color: white;
    font-size: 2rem;
    border: 1px solid gray;
    width: 100%;
    font-family: 'Poppins';
}

form label 
{
    width: 100px;
    /* margin: auto; */
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.25rem;
    color: white;
    font-family: 'Poppins';
}

.button-holder
{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form button 
{
    width: auto;
    height: auto;
    margin: auto;
    cursor: pointer;
    font-size: 2rem;
    margin: 30px 0px 10px 0px;
    padding: 10px;
}





#form-add
{
    width: 70vw;
}

#form-add label
{
    font-size: 1.5rem;
    /* width: 20%; */

}

#form-add input
{
    font-size: 1.5rem;
    width: 50%;
}

.form-coupling {
    display: flex;
    margin: 10px;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.form-coupling label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    line-height: 52px;
    min-width: 200px;
}




input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    height: 52px;
  }
  
  input[type=radio] { 
    bottom: 2px; 
  } 






@media only screen and (max-width: 550px) {
    .form-coupling {
        display: flex;
        flex-wrap: wrap;
    }

    #form-search {
        margin-top: 250px;
        margin-bottom: 20px;
    }

}


@media only screen and (max-height: 900px) {
    #form-search {
        margin-top: 250px;
        margin-bottom: 20px;
    }

}

