#form-search 
{
    border: 2px solid white;
    padding: 20px;

    font-size: 2rem;

    width: 80%;
    /* margin: auto; */
    /* margin-top: 100px; */
    margin-top: 150px;

    display: flexbox;
    justify-content: center;
    align-items: center;
}

form 
{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translateX(-50%);

    
}

form input[type=text] 
{
    background: transparent;
    color: white;
    font-size: 2rem;
    border: 1px solid gray;
    width: 100%;
    font-family: 'Poppins';
}

form input[type=password] 
{
    background: transparent;
    color: white;
    font-size: 2rem;
    border: 1px solid gray;
    width: 100%;
    font-family: 'Poppins';
}







.box {
    background: #666666;
    color: #ffffff;
    width: 250px;
    padding: 10px;
    margin: 1em auto;
}
form p {
    margin: 5% 0;
    padding: 0;
}
input[type="checkbox"] {
    visibility: hidden;
}
label {
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    border: 1px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
  }
  input[type="checkbox"]:checked + label:before {
    background: transparent;
    color: rgb(69, 173 , 170);
    content: "\2713";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
  
  input[type="checkbox"]:focus + label::before {
      outline: rgb(69, 173 , 170) auto 5px;
  }


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(69, 173 , 170);
  -webkit-text-fill-color: rgb(69, 173 , 170);
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}










form label 
{
    width: 100px;
    /* margin: auto; */
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.25rem;
    color: white;
    font-family: 'Poppins';
}

.button-holder
{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form button 
{
    width: auto;
    height: auto;
    margin: auto;
    cursor: pointer;
    font-size: 2rem;
    margin: 30px 0px 10px 0px;
    padding: 10px;
}





#form-add
{
    width: 70vw;
}

#form-add label
{
    font-size: 1.5rem;
    /* width: 20%; */

}

#form-add input
{
    font-size: 1.5rem;
    width: 50%;
}

.form-coupling {
    display: flex;
    margin: 10px;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.form-coupling label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    line-height: 20px;
    min-width: 220px;
}




input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    height: 52px;
  }
  
  input[type=radio] { 
    bottom: 2px; 
  } 






@media only screen and (max-width: 550px) {
    .form-coupling {
        display: flex;
        flex-wrap: wrap;
    }

    /* #form-search {
        margin-top: 250px;
        margin-bottom: 150px;
    } */
}


@media only screen and (max-height: 900px) {
    #form-search {
        /* margin-top: 120px;
        margin-bottom: 20%; */
        /* margin-top: 300px; */
    }

    form {
        
        /* transform: translate(-50%, -40%); */
        margin-bottom: 100px;
    }

}



.row {
    display: flex;
    color: white;
}

.row div {
width: 100px;

    margin-left: 2.5%;
    margin-right: 2.5%;
}

.col {
    /* display: flex; */
    color: white;
    
}