#form-search 
{
    border: 2px solid white;
    padding: 20px;

    font-size: 2rem;

    width: 80%;
    margin: auto;

    display: flexbox;
    justify-content: center;
    align-items: center;
}

form 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form input 
{
    background: transparent;
    color: white;
    font-size: 2rem;
    border: 1px solid gray;
    width: 100%;
}

form label 
{
    width: 100px;
    margin: auto;
    font-size: 2.5rem;
    color: white;
}

.button-holder
{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form button 
{
    width: 200px;
    height: 40px;
    margin: auto;
    cursor: pointer;
    font-size: 2rem;
    margin: 30px 0px 10px 0px;
}





#form-add
{
    width: 70vw;
}

#form-add label
{
    font-size: 1.5rem;
    /* width: 20%; */

}

#form-add input
{
    font-size: 1.5rem;
    width: 50%;
}

.form-coupling {
    display: flex;
}

.form-coupling label {
    display: inline-block;
    width: 100px;
}