#subscribe-button {
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 50px 50px;

    width: 150px;
    height: 150px;
    line-height: 150px;


    
    /* opacity: 0; */
    border: 1.5px solid white;
    color: white;

    text-align: center;
    vertical-align: middle;

    font-size: 2rem;

    z-index: 100000;
    overflow: visible;

    border-radius: 50%;    
    cursor: pointer;

    transition-duration: 0.25s;

    transform: perspective(500px);

    animation:spin 4s linear infinite;
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

    


#subscribe-button:hover {
    background: radial-gradient(rgb(69, 173 , 170), transparent);
    font-size: 2.25rem; 
    box-shadow: white 0px 0px 20px 10px ;

}

#subscribe-button p {
    position: relative;
    color:  white;
    overflow: visible;
}


#test-sub {
    width: 100;
    height: 100;
    border-style: solid;
    border-width: 0 0 180px 180px;
    border-color: transparent transparent #45aeaa transparent;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100000;

    transition-duration: 0.5s;
    color: black;
}

#test-sub:hover {
    /* border-radius: 25%; */
    /* box-shadow: white 0px 0px 20px 10px ; */
    border-width: 0 0 200px 200px;
    border-color: transparent transparent #307875 transparent;
    color: white;
}

#sub-text {
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;

    font-size: 2.5rem;

    transform: rotate(-45deg) translate(-10px, -50px);

    z-index: 100001;
    color: white;
}

#sub-text:hover {
    
}